main{
    /* background-color: lightgray; */
}

.item1{
    display: flex;
}

.pledgeImg{
    width: 100%;
    height: 400px;
}

.pledgeImg img{
    width: 100%;
    height: 100%
}

.pledge-index-text {
    font-family: Helvetica, sans-serif;
    margin-top: 10px;

}

.avatar{
    margin-right: 10px;
}

.main{
    margin: 0px auto;

}

.pledges-container {
    margin-top: 20vh;
    display:flex;
    flex-direction: column;
}

.feedItem{
    background-color: #fff;
    width: 50%;
    margin: 5vh auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transition: transform .2s;
}

/* @keyframes up-bump {
  0% { padding-top: 0.7em; }
  50% { padding-top: 0.2em; }
  100% { padding-top: 0.5em; }
} */

.feedItem:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(53, 248, 63, 0.356);
    transform: scale(1.05);
    /* animation: up-bump 0.2s ease; */
}

.pledgeLink{
    text-decoration: none;
    color: rgb(24, 124, 15);;
}

.links{
    display: flex;
   border-bottom: 1px solid darkgray;
   padding-bottom: 10px;
}

.dates{
    
    display: flex;
    justify-content: space-between;

}

.pledge-title {
    font-family: Helvetica, sans-serif;
    font-size: 28px;
}

.pledge-description {
    margin-top: 15px;
    color: gray;
}


.links p{
margin-right: 10%;
font-size: 1rem;
}

.links p:hover{
    color: blue;
}

<<<<<<< HEAD
.pledges-index-title {
    font-family: Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
}

.follow-button {
    background-color: black;
    color: white;
    width: 50px;
    height: 30px;
    margin-top: 25px;
    position: fixed;
    top: 0px;
    right: 20px;
    font-size: 20px;
}

.follow-button:hover {
    background-color:  rgb(104,220,93);
    border: 1px solid  rgb(104,220,93);

}
=======



>>>>>>> 6a8d82c8c90fedfb6fddb4aa8ba41a3714ac1799
