.how-it-works-card-container {
    margin: 30px;
    width: 300px;

}
.how-it-works-card-header {
    /* margin-top: 50px; */
    font-size: 25px;
    font-weight: bold;
}

.how-it-works-card-header::selection {
  background-color: rgb(104,220,93);
  opacity: 80%;
}