.item1{
    display: flex;
}

.userInfo {
    /* margin-top: 100px;
    --offset: var(--space);
    position: sticky;
    top: var(--offset);
    max-height: calc(100vh - var(--offset) * 2);    
    overflow-y: auto;
    width: 200px;
    height: 500px;
    margin-left: 50px;
    background-color: rgba(211, 211, 211, 0.331);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.avatar-profile {
    margin-top: 10px;
    margin-left: 10px;
}

.sidebar-title {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile-modal-button {
      background-color: black;
    color: white;
    height: 40px;
    width: 100px;
}

.profile-modal-button:hover {
    background-color:  rgb(104,220,93);
    border: 1px solid rgb(104,220,93);
}

.x-modal-button {
    background: none;
    border: none;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 14px;
}

.x-modal-button:hover {
    transform: scale(1.2);
    font-weight: bold;

}
