.pledge-show-card {
    background-color: #fff;
    width: 50%;
    margin: 15vh auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transition: transform .2s;
}

.pledge-show-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
}

.pledge-show-img {
    width: 100px;
}

.pledge-show-description {
    font-family: Helvetica, sans-serif;
    color: rgb(99, 99, 99);
    margin-top: 20px;
    margin-bottom: 20px;

}

.pledge-show-follow-button {
    background-color: black;
    color: white;
    width: 120px;
    height: 30px;
    /* margin-top: 25px; */
    position: relative;
    /* top: px; */
    /* left: 400px; */
    font-size: 14px;
    cursor: pointer;
}

.pledge-show-follow-button:hover {
    background-color:  rgb(104,220,93);
    border: 1px solid  rgb(104,220,93);
}

.pledge-show-followers {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 5px;
    
}

.pledge-show-comment-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
}

.pledge-show-comment-input {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: black;
    border: 1px solid lightgray;
    width: 360px;
    height: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: center;
    text-align: left;
    margin-top: 5px;
}

.pledge-show-submit-comment {
    background-color: black;
    color: white;
    width: 120px;
    height: 30px;
    margin-top: 10px;
    /* position: fixed; */
    top: 0px;
    right: 20px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 30px;
}

.pledge-show-submit-comment:hover {
    background-color:  rgb(104,220,93);
    border: 1px solid  rgb(104,220,93);
}

.pledge-show-date {
    font-size: 12px;
    color: gray;
}

.comment-username {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
}

.pledge-show-border {
    border: 0.5px solid lightgray;
}

.comment-text {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pledge-index-link {
    font-family: Helvetica, sans-serif;
    color: black
}

.pledge-index-link:hover {
    font-family: Helvetica, sans-serif;
    color: rgb(104,220,93);
}

.edit-pledge-modal {
    display: flex;
    flex-direction: column;
}


.edit-pledge-form {
    display: flex;
    flex-direction: column;
}

.comment-container {
    display:flex;
    border-bottom: 2px solid lightgray;
}

.comment-content-container {
    flex-grow: 4;
}

.comments-crud-buttons-container {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-self: center;
}

.comments-crud-button {
    background-color: black;
    color: white;
    top: 0px;
    right: 20px;
    font-size: 14px;
    cursor: pointer;
    margin: 2px;
}

.comments-crud-button:hover {
    background-color:  rgb(104,220,93);
}

main{
    /* background-color: lightgray; */
}

.item1{
    display: flex;
}

.pledgeImg{
    width: 100%;
    height: 400px;
}

.pledgeImg img{
    width: 100%;
    height: 100%
}

.pledge-index-text {
    font-family: Helvetica, sans-serif;
    margin-top: 10px;

}

.avatar{
    margin-right: 10px;
}

.main{
    margin: 0px auto;

}

.pledges-container {
    margin-top: 20vh;
    display:flex;
    flex-direction: column;
}

.feedItem{
    background-color: #fff;
    width: 50%;
    margin: 5vh auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transition: transform .2s;
}

/* @keyframes up-bump {
  0% { padding-top: 0.7em; }
  50% { padding-top: 0.2em; }
  100% { padding-top: 0.5em; }
} */

.feedItem:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(53, 248, 63, 0.356);
    transform: scale(1.05);
    /* animation: up-bump 0.2s ease; */
}

.pledgeLink{
    text-decoration: none;
    color: rgb(24, 124, 15);;
}

.links{
    display: flex;
   border-bottom: 1px solid darkgray;
   padding-bottom: 10px;
}

.dates{
    
    display: flex;
    justify-content: space-between;

}

.pledge-title {
    font-family: Helvetica, sans-serif;
    font-size: 28px;
    width: 80%
}

.pledge-description {
    margin-top: 15px;
    color: gray;
}


.links p{
margin-right: 10%;
font-size: 1rem;
}


.pledges-index-title {
    font-family: Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
}

.follow-button {
    background-color: black;
    color: white;
    width: 120px;
    height: 30px;
    margin-top: 25px;
    position: fixed;
    top: 0px;
    right: 20px;
    font-size: 14px;
    cursor: pointer;
}

.follow-button:hover {
    background-color:  rgb(104,220,93);
    border: 1px solid  rgb(104,220,93);

}

.pledge-show-options {
    display: flex;
    justify-content: space-between;
}

.pledge-show-options-follow{
    display: flex;
    flex-direction: column;
}

.pledge-show-options-edit-delete{
    display: flex;
    flex-direction: column;
}

.button {
    margin: 2px;
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
}

.button:hover {
    background-color:  rgb(104,220,93);
    border: 1px solid  rgb(104,220,93);

}